

 /* body{ 
  background-image: url("/Image/photos.jpeg");
}  */
#main-text {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  display: block;
  margin-top: 125px;

}

#heading{
  font-size: 90px;
  color: blanchedalmond;
  -webkit-text-stroke: 2px rgb(122, 63, 36);
}
#sub-heading{
  font-size: 80px;
  color: rgb(145, 112, 75);
  -webkit-text-stroke: 2px rgb(31, 18, 12);
}
@media screen and (min-width: 980px) {
  .sidenav {
    display: none !important;
  } 
  .section {
    margin-top: 125px;
  }
}

@media screen and (max-width: 980px) {
  #containerHeader {
    background-color: #ffffff;
  }
}
